{% extends '/app/Resources/views/base.html.twig' %}

{% block title %}Welcome
  {{kernel.name}}!
{% endblock %}
{% block stylesheets %}
  {{ parent() }}
  <!-- WEBPACK BUNDLE -->
  <link rel='stylesheet' href='{{CDN("stylesheet")}}/demoBundle/assets/css/demo.css'/>
{% endblock %}
{% block body %}
  <img class='displayed' src='{{CDN("image")}}/frameworkBundle/images/nodefony-logo-white.png'>
  <h1 class='success'>
    <a href='{{url(' documentation')}}'="documentation')}}'">
      <strong style='font-size:45px'>NODEFONY-STAGE</strong>
    </a>
    <p>Package Version :
      {{version}}
    </p>
  </h1>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <!-- WEBPACK BUNDLE -->
  <script src='{{CDN("javascript")}}/demoBundle/assets/js/demo.js'></script>
{% endblock %}